* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin: 100px;

    justify-content: center;
    align-items: center;
}

.box {
    width: 30px;
    height: 30px;

    flex: 1 1 30px;

    background-color: white;
}
